body{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-color: white;
    border: solid #111;
    border-width: 6px;
    border-radius: 20px;
    position: absolute;
    left: 520px;
}

#title{
    position: relative;
    left: 560px;
    top: 60px;
}

/* color: #111
primary: #FFAB9D*/

a {
    text-decoration: none;
    color: inherit;
  }
  
.cta {
    position: relative;
    left: 260px;
    top: 150px;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: #ffab9d;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}

.cta2 {
    position: relative;
    left: -30px;
    top: 230px;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}
.cta2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(157, 222, 255, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta2 span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.cta2 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta2:hover:before {
    width: 100%;
    background: #97c6ff;
}
.cta2:hover svg {
    transform: translateX(0);
}
.cta2:active {
    transform: scale(0.96);
}
